<template>
  <div>
    <div class="card login-form">
      <div class="card-body">
        <h3 class="card-title text-center">Change password</h3>

        <!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->

        <div class="card-text">
          <form @submit.prevent="cekupdate">
            <!-- <div
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
            >
              <strong>Holy guacamole!</strong> You should check in on some of
              those fields below.
              <a class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </a>
            </div> -->
            <div class="form-group">
              <label for="exampleInputEmail1">Your old password</label>
              <input
                v-model="form.oldPassword"
                type="password"
                required
                class="form-control form-control-sm"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Your new password</label>
              <input
                v-model="form.newPassword"
                type="password"
                class="form-control form-control-sm"
                required
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Repeat password</label>
              <input
                v-model="form.confirmPassword"
                type="password"
                class="form-control form-control-sm"
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary my-2 w-100 btn-block submit-btn"
            >
              Confirm
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// import { API_URL, API_PROJECT, API_VERSION } from '@/config'
// const apiClient = axios.create({
//   baseURL: `${API_URL}/${API_PROJECT}/${API_VERSION}`,
//   headers: ('X-CSRF-TOKEN', 'token'),
//   // headers: ('Authorization', 'Bearer TOKEN'),
// })
// import { password } from '@/api/password'
export default {
  data() {
    return {
      form: {
        oldPassword: null,
        newPassword: null,
        confirmPassword: null,
      },
    }
  },

  methods: {
    cekupdate() {
      if (this.form.newPassword === this.form.oldPassword) {
        alert('Password Tidak boleh Sama')
        return false
      }
      if (this.form.newPassword !== this.form.confirmPassword) {
        alert('Password Tidak Sama')
        return false
      }
      if (
        this.form.newPassword === this.form.confirmPassword ||
        this.form.newPassword !== this.form.oldPassword
      ) {
        this.update()
        return true
      }
    },

    async update() {
      // eslint-disable-next-line prettier/prettier
      try {
        const password = {
          password_old: this.form.oldPassword,
          password_new: this.form.newPassword,
        }
        const res = await axios.patch(
          '/frontend/account/changepassword',
          password,
        )

        this.$router.push('/profile')
        console.log(res)
      } catch (error) {
        console.log(error)
      }
    },
  },
}
</script>

<style></style>
