<template>
  <CForm>
    <div class="mb-3">
      <CFormLabel for="prefix">prefix</CFormLabel>
      <CFormInput v-model="prefix" type="text" id="prefix" name="prefix" placeholder="prefix" />
    </div>
    <div class="mb-3">
      <CFormLabel for="name">name</CFormLabel>
      <CFormInput v-model="name" type="text" id="name" name="name" placeholder="name" />
    </div>
    <div class="mb-3">
      <CFormLabel for="address">address</CFormLabel>
      <CFormInput v-model="address" type="text" id="address" name="address" placeholder="address" />
    </div>
    <div class="mb-3">
      <CFormLabel for="formFile">Upload Logo Perusahaan</CFormLabel>
      <CFormInput class="logo" type="file" id="formFile" @change="handleFileChange" />
    </div>
    <CButton id="submit" color="primary" @click="submitForm" :disabled="isFormInvalid">Submit</CButton>
  </CForm>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      prefix: '',
      name: '',
      address: '',
      selectedFile: null,
    }
  },
  methods: {
    handleFileChange(event) {
      this.selectedFile = event.target.files[0];
    },
    async submitForm() {
      try {
        const formData = new FormData();
        formData.append('prefix', this.prefix);
        formData.append('name', this.name);
        formData.append('address', this.address);
        formData.append('logo', this.selectedFile);

        const res = await axios.post(
          '/internal/master/partner',
          formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data',
            },
          },
        );
        console.log(res.data);
      } catch (error) {
        console.error(error);

      }
    },
  },
}
</script>

