<template>
  <div class="card login-form">
    <div class="card-body">
      <h3 class="card-title text-center">Change Nama</h3>

      <!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->

      <div class="card-text">
        <form @submit.prevent="update">
          <div class="form-group">
            <label for="exampleInputEmail1">Edit Profil</label>
            <input v-model="nama" type="nama" class="form-control form-control-sm" />
          </div>
          <button type="submit" class="btn btn-primary my-2 w-100 btn-block submit-btn">
            Confirm
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="card login-form mt-lg">
    <div class="card-body">
      <h3 class="card-title text-center">Change Profile Photo</h3>
      <div class="card-text">
        <form @submit.prevent="updatephoto">
          <div class="form-group">
            <CFormInput class="uploaded-image" type="file" @change="handleFileChange" />

          </div>
          <button type="submit" class="btn btn-primary my-2 w-100 btn-block submit-btn">
            Update Photo
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      nama: '',
      selectedFile: null,
    }
  },
  methods: {
    async update() {
      // eslint-disable-next-line prettier/prettier
      try {
        const password = {
          name: this.nama,
        }
        const res = await axios.put('/internal/account/profile', password)
        this.$router.push('/profile')
        console.log(res)
      } catch (error) {
        console.log(error)
      }
    },
    handleFileChange(event) {
      this.selectedFile = event.target.files[0]
    },
    async updatephoto() {
      // eslint-disable-next-line prettier/prettier
      try {
        const formData = new FormData()
        formData.append('photo', this.selectedFile)
        const res = await axios.put(
          '/internal/account/profile/photo',
          formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data',
            },
          },
        )
        this.$router.push('/profile')
        console.log(res)
      } catch (error) {
        console.log(error)
      }
    },
  },
}
</script>

<style></style>
