<template>
  <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <CContainer>
      <CRow class="justify-content-center">
        <CCol :md="8">
          <CCardGroup>
            <CCard class="p-4">
              <CCardBody>
                <CForm class="needs-validation" :validated="validated" @submit.prevent="submitForm">
                  <h1>Login</h1>
                  <p class="text-medium-emphasis">Sign In to your account</p>
                  <CInputGroup class="mb-3">
                    <CInputGroupText>
                      <CIcon icon="cil-user" />
                    </CInputGroupText>
                    <CFormInput
                    placeholder="email"
                    autocomplete="email"
                    name="email"
                    feedbackInvalid="Please provide a valid Email"
                    v-model="email"
                    feedbackValid="Looks good email!"
                    required />
                  </CInputGroup>
                  <CInputGroup class="mb-4">
                    <CInputGroupText>
                      <CIcon icon="cil-lock-locked" />
                    </CInputGroupText>
                    <CFormInput
                    feedbackInvalid="Please provide a valid Password"
                     type="password"
                     name="password"
                     id="password"
                      v-model="password"
                      placeholder="Password"
                      feedbackValid="Looks good email!"
                      autocomplete="current-password"
                      required />
                  </CInputGroup>
                  <CRow>
                    <CCol :xs="6">
                      <CButton
                      v-wave :disabled="disablebutton" id="submit"
                      @click="ceklogin"  color="primary" class="px-4"
                      >
                        Login
                      </CButton>
                    </CCol>
                    <CCol :xs="6" class="text-right">
                      <CButton color="link" class="px-0">
                        Forgot password?
                      </CButton>
                    </CCol>
                  </CRow>
                </CForm>
              </CCardBody>
            </CCard>
            <CCard class="text-white bg-primary py-5" style="width: 44%">
              <CCardBody class="text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                  </p>
                  <CButton color="light" variant="outline" class="mt-3">
                    Register Now!
                  </CButton>
                </div>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import axios from 'axios'
import Cookies from 'universal-cookie'
export default {
  name: 'Login',
  data() {
    return {
      validated: null,
      disableSubmit: true,
      email: '',
      password: '',
      erroremail: null,
    }
  },
  methods: {
    checkSubmitDisable() {
      if (this.email && this.password) {
        this.disableSubmit = false
      } else {
        this.disableSubmit = true
      }
    },
    ceklogin() {
      if (this.email && this.password) {
        this.validated = true
        this.submitForm()
      }
      if (!this.email) {
        this.validated = true
      }
    },
    async submitForm() {
      try {
        const credentials = {
          email: this.email,
          password: this.password,
        }
        const res = await axios.post(
          '/dashboard/auth/login', credentials,
        )
        const cookies = new Cookies()
        cookies.set('token', res.data.data.token)
        cookies.set('email', res.data.data.email)
        // Aksi setelah berhasil login, seperti navigasi ke halaman beranda
        const audio = new Audio(
          'https://soundbible.com/mp3/Elevator Ding-SoundBible.com-685385892.mp3',
        )
        //  this.$toast.success('Logout berhasil')
        audio.play()
        this.$router.push({ path: '/dashboard' })
      } catch (e) {
        console.error(e)
      }
    },
  },
}
</script>
