<template>
  <div>
    <section v-if="item">
      <div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img :src="item.photo" alt="avatar" class="rounded-circle img-fluid" style="width: 150px" />
                <h5 class="my-3">{{ item.name }}</h5>
                <p class="text-muted mb-1">{{ item.role_name }}</p>
                <div class="d-flex justify-content-center mb-2">
                  <button type="button" class="btn btn-primary">
                    <router-link class="text-reset text-decoration-none" to="/editprofile">
                      Edit profile</router-link>
                  </button>
                  <button type="button" class="btn btn-outline-primary ms-1 text-reset">
                    <router-link class="text-reset text-decoration-none" to="/changepass">
                      Change Password</router-link>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ item.name }}</p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ item.email }}</p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ item.phone }}</p>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Role</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ item.role_name }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1>Daftar Nama Company</h1>
      <div class="d-flex flex-row m-10">
        <div class="card" style="width: 18rem">
          <img :src="item.company.partner_logo" class="card-img-top img-thumbnail" width="300px " />
          <div class="card-body mr-3" :style="{ backgroundColor: item.company.partner_color }">
            <p class="card-text text-white">{{ item.company.partner_name }}</p>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img :src="item.company.company_logo" class="card-img-top img-thumbnail" width="300px " />
          <div class="card-body">
            <p class="card-text">{{ item.company.company_name }}</p>
          </div>
        </div>
      </div>
      <h1>Data Project</h1>
      <div class="card" style="width: 18rem" v-for="order in item.project" :key="order.project_id">
        <div class="card-body">
          <h2 class="card-text">{{ order.project_name }}</h2>
          <p>{{ order.project_description }}</p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Profilepage',
  data: () => ({
    item: null,
  }),
  mounted() {
    this.profile()
  },
  methods: {
    async profile() {
      await axios
        .get('/internal/account/profile')
        .then((response) => {
          this.item = response.data.data
        })
        .catch((e) => {
          console.log(e)
        })
    },
  },
}
</script>

<style></style>
