<template>
  <CDropdown variant="nav-item">
    <CDropdownToggle v-if="item" placement="bottom-end" class="py-0" :caret="false">
      <CAvatar :src="item.photo" size="md" />
    </CDropdownToggle>
    <CDropdownMenu class="pt-0">
      <CDropdownHeader component="h6" class="bg-light fw-semibold py-2">
        Account
      </CDropdownHeader>
      <CDropdownItem>
        <CIcon icon="cil-bell" /> Updates
        <CBadge color="info" class="ms-auto">{{ itemsCount }}</CBadge>
      </CDropdownItem>
      <CDropdownItem>
        <CIcon icon="cil-envelope-open" /> Messages
        <CBadge color="success" class="ms-auto">{{ itemsCount }}</CBadge>
      </CDropdownItem>
      <CDropdownItem>
        <CIcon icon="cil-task" /> Tasks
        <CBadge color="danger" class="ms-auto">{{ itemsCount }}</CBadge>
      </CDropdownItem>
      <CDropdownItem>
        <CIcon icon="cil-comment-square" /> Comments
        <CBadge color="warning" class="ms-auto">{{ itemsCount }}</CBadge>
      </CDropdownItem>
      <CDropdownHeader component="h6" class="bg-light fw-semibold py-2">
        Settings
      </CDropdownHeader>
      <CDropdownItem>
        <CIcon icon="cil-user" /><router-link class="text-reset text-decoration-none" to="/profile">
          Profile
        </router-link>
      </CDropdownItem>
      <CDropdownItem>
        <CIcon icon="cil-settings" /> Settings
      </CDropdownItem>
      <CDropdownItem>
        <CIcon icon="cil-dollar" /> Payments
        <CBadge color="secondary" class="ms-auto">{{ itemsCount }}</CBadge>
      </CDropdownItem>
      <CDropdownItem>
        <CIcon icon="cil-file" /> Projects
        <CBadge color="primary" class="ms-auto">{{ itemsCount }}</CBadge>
      </CDropdownItem>
      <CDropdownDivider />
      <CDropdownItem>
        <CIcon icon="cil-shield-alt" /> Lock Account
      </CDropdownItem>
      <CDropdownItem @click="logout">
        <CIcon icon="cil-lock-locked" /> Logout
      </CDropdownItem>
    </CDropdownMenu>
  </CDropdown>
</template>

<script>
import Cookies from 'js-cookie'
import axios from 'axios'
import avatar from '@/assets/images/avatars/8.jpg'
export default {
  name: 'AppHeaderDropdownAccnt',
  setup() {
    return {
      avatar: avatar,
      itemsCount: 42,
    }
  },
  data: () => ({
    item: null,
  }),
  mounted() {
    this.profile()
  },
  methods: {
    logout() {
      const audio = new Audio(
        'https://soundbible.com/mp3/Elevator Ding-SoundBible.com-685385892.mp3',
      )
      //  this.$toast.success('Logout berhasil')
      Cookies.remove('token')
      audio.play()
      this.$router.push({ path: '/pages/login' })
    },
    async profile() {
      await axios
        .get('/internal/account/profile')
        .then((response) => {
          this.item = response.data.data
        })
        .catch((e) => {
          console.log(e)
        })
    },
  },
}
</script>
